header {
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 2rem 0;
}
header nav {
  width: 15rem;
  display: flex;
  justify-content: space-between;
}
header nav a {
  color: aliceblue;
  font-size: 1.5rem;
}

/*
.hamburger{
        display: block;
        min-width: 3.5rem;
        margin: 5px 10px 10px 10px;
        div{
            height: 0.4rem;
            margin-bottom: 10px;
            width: 100%;
            background-color: $grey1;
            transition: all 0.3s ease;
            transform-origin: left center;
            border-radius: 5rem;
        }
        &:hover {
            .bar1{
                transform: rotate(32deg);
                width: 120%;
            }   
            .bar2{
                width: 0%;
            }
            .bar3{
                transform: rotate(-32deg);
                width: 120%;
            }  
        }
    }
    */
.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5rem 5%;
}
.banner .banner-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.banner .banner-container-right {
  text-align: center;
}
.banner .banner-container-right p {
  font-size: 50px;
  line-height: 145.518%;
  letter-spacing: 3.6px;
  color: #FFF;
  padding: 4rem 0;
}
.banner .banner-container-left {
  padding: 0 3rem;
}
.banner .banner-container-left img {
  width: 100%;
  min-width: 226px;
}

.services {
  padding: 5rem 0;
}
.services-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1rem 0;
}
.services-container-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 0 0 40%;
  height: 300px;
  margin: 1.5rem;
  border-radius: 15px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  background: linear-gradient(180deg, rgba(48, 126, 67, 0.07) 0%, rgba(42, 92, 54, 0.8) 68.75%);
  cursor: pointer;
}

.blog {
  padding: 1rem 5rem;
}
.blog-header {
  padding-bottom: 2rem;
}
.blog-header h2 {
  color: #FFF;
  text-align: center;
  font-size: 48px;
  letter-spacing: 2.88px;
}
.blog-header span {
  color: #316C40;
}
.blog-header p {
  color: #FFF;
  text-align: center;
  font-size: 18px;
  letter-spacing: 1.08px;
}
.blog-container .blog-box {
  display: flex;
  justify-content: space-between;
  background-color: #201E1E;
  padding: 1rem 3rem;
  border-radius: 15px;
}
.blog-container .blog-box-text {
  padding-right: 1rem;
}
.blog-container .blog-box-text h3 {
  color: #FFF;
  font-size: 40px;
  padding-bottom: 1rem;
}
.blog-container .blog-box-text p {
  color: #FFF;
  font-size: 22px;
}
.blog-container .blog-box .blog-box-img {
  align-self: baseline;
}
.blog-container .blog-box .blog-box-img img {
  float: right;
  width: 50%;
  border-radius: 50%;
  padding: 1rem;
}

.partners {
  padding: 5rem 0;
  height: 100px;
}
.partners h2 {
  text-align: center;
  font-size: 35px;
  line-height: 144.518%; /* 138.737px */
  letter-spacing: 5.76px;
  color: #FFF;
}

@media only screen and (max-width: 1024px) {
  .services-container-box {
    flex: 0 0 65%;
  }
}
/* 

*/
.standartButton1 {
  width: min-content;
  border: 2px solid #525252;
  color: #FFF;
  text-align: center;
  border-radius: 15px;
  padding: 1rem 3rem;
  white-space: nowrap;
  font-size: 1.5rem;
}

h1 {
  color: #FFF;
}

.services h2 {
  text-align: center;
  font-size: 35px;
  line-height: 144.518%; /* 138.737px */
  letter-spacing: 5.76px;
  color: #FFF;
}

.services-container-box h3 {
  color: #FFF;
  font-size: 28px;
  line-height: 144.518%; /* 69.368px */
  letter-spacing: 2.88px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Sarabun", sans-serif;
}

body {
  width: 80%;
  max-width: 1400px;
  margin: auto;
  background: #121212;
}

/*# sourceMappingURL=style.css.map */
