@use 'layout';
@use 'abstracts';
@use 'pages';
@use 'components';
@use 'base';
//@use 'vendors';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sarabun', sans-serif;
}
body{
    width: 80%;
    max-width: 1400px;
    margin: auto;
    background-color: #121212  !important;
}
