@use 'layout';
@use 'abstracts';
@use 'pages';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #999292;;
    font-family: 'Sarabun', sans-serif;
}
body{
    width: 90%;
    margin: auto;
}
