@use 'layout';
@use 'abstracts';
@use 'pages';
@use 'components';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #000000;;
    font-family: 'Sarabun', sans-serif;
}
body{
    width: 70%;
    margin: auto;
}
