*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



header{ 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px 0 30px;
    color: #4A4A4A;
    height: 78px;
    z-index: 10;
    position: fixed;
    width: 100%;
    background-color: #fff;
}
header .logo h1{
    font-family: 'Roboto Mono', monospace;
    font-size: 15px;
    font-weight: 600;
}
nav{
    width: 345px;
    display: flex;
    justify-content: space-between;
}
nav a{
    font-family: 'Roboto', sans-serif;;
    font-size: 15px;
 }
nav .fa-brands{
    padding: 0 0 0 10px;
    color:black;
    font-size: 18px;
}

.hero{
    background-image: URL("/images/back.jpg");
    background-size: cover;
    background-position: center center;
    height: 100vh;

    position: relative;
    top: 3.1rem;
}

.hero .card{
    background-color: #9DC20B;
    border: 1px solid #6b6b6b;
    border-radius: 5px;
    color: #FFF;
    text-align: center;
   
    padding: 1.5rem 4.1rem 2.5rem 4.1rem;


    width: fit-content;
    position: relative;
    top: 11.5rem;
    left: 10%;
}
.card h3{
    font-family: 'Damion';
    font-size: 35px;
    font-weight: 100;
}
.card .parag1{
    font-family: 'Rubik', sans-serif;
    font-size: 47px;
    line-height: 4rem;
}
.card .parag2{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5rem;
    padding-top: 0.75rem;
}
.card a{
    display: block;
    padding: 1rem 1.5rem;
    margin-top: 1rem;
    background-color: #4A4A4A;
    color:#FFF;
    font-family: 'Roboto';
    line-height: 2rem;
    border-radius: 5px;
}
