*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



header{ 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px 0 30px;
    color: #4A4A4A;
    height: 78px;
    z-index: 10;
    position: fixed;
    width: 100%;
    background-color: #fff;
}
header .logo h1{
    font-family: 'Roboto Mono', monospace;
    font-size: 15px;
    font-weight: 600;
}
nav{
    width: 345px;
    display: flex;
    justify-content: space-between;
}
nav a{
    font-family: 'Roboto', sans-serif;;
    font-size: 15px;
 }
nav .fa-brands{
    padding: 0 0 0 10px;
    color:black;
    font-size: 18px;
}

.hero{
    background-image: URL("/images/back.jpg");
    height: 700vh;
}



.hero{
    background-image: URL("/images/back.jpg");
    height: 300vh;
}