@use '../abstracts/colors' as *;

.banner{
    padding: 5rem 5%;
    .banner-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        &-right{
            text-align: center;
            p{
                font-size: 35px;
                line-height: 145.518%;
                letter-spacing: 3.6px;
                padding: 4rem 0;
                color: $white1;
            }
        }
        &-left{
            padding: 0 3rem;
            max-width: 350px;
            img{
                width: 100%;
                min-width: 226px;
            }
        }
    }
}

.services{
    padding: 5rem 0;
    &-container{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding: 1rem 0;
        &-box{
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            text-align: center;
            flex: 0 0 35%;
            height: 300px;
            margin: 1.5rem;
            border-radius: 15px;
            border: 1px solid rgba(78, 78, 78, 0.5);
            background: linear-gradient(180deg, rgba(48, 126, 67, 0.07) 0%, rgba(42, 92, 54, 0.80) 68.75%);
            padding: 4rem 1rem;
            cursor: pointer;
            img{
                width: 20%;   
            }
        }
    }
}


.blog{
    padding: 1rem 5rem;
    &-header{
        padding-bottom: 2rem;
        h2{
            color: $white1;
            text-align: center;
            font-size: 48px;
            letter-spacing: 2.88px;
        }
        span{
            color: $green1;
        }
        p{
            color: $white1;
            text-align: center;
            font-size: 18px;
            letter-spacing: 1.08px;
        }
    }
    &-container{
        .blog-box{
            display: flex;
            justify-content: space-between;
            background-color: $grey2;
            padding: 2rem 3rem;
            border-radius: 15px;
            height: 250px;
            &-text{
                overflow: hidden;
                width: 100%;
                padding-right: 1rem;
                h3{
                    color: $white1;
                    font-size: 40px;
                    padding-bottom: 1rem;
                }
                p{
                    color: $white1;
                    font-size: 20px;
                }
            }
            img{
                align-self: center;
                width: 20%;
                min-width: 150px;
                border-radius: 50%;
                padding: 1rem;
            }
        }
    }
}

.partners{
    padding: 10rem 0;
    h2{
        text-align: center;
        font-size: 35px;
        line-height: 144.518%; /* 138.737px */
        letter-spacing: 5.76px; 
        color: $white1;
    }
    height: 100px;
}

.footer{
    display: flex;
    justify-content: space-around;
    padding-top: 5rem;
    color: $white1;
    h4{
        color: $white1;
        font-size: 25px;
        line-height: 4rem;
    }
    ul{
        list-style-type: none;
        line-height: 2.2rem;
        font-size: 18px
    }
}




@media only screen and (max-width: 1024px) {
    .services-container-box{
        flex: 0 0 65%;
    }
}

@media only screen and (max-width: 900px){
    .banner-container{
        flex-direction: column;
    }
}

@media only screen and (max-width: 700px){
    h3{
        font-size: 15px;
    }
    .services-container-box img {
        width: 30%;   
    }
    body{
        width: 100% !important;
        padding: 0 1rem;
    }
    .blog-box{
        &-text{
            text-align: center;
        }
        img{
            display: none;
        }
    }
    .footer{
       h4{
        font-size: 20px;
       } 
       ul{
        font-size: 15px;
       }
    }
}



/* 

*/