* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: MONTSERRAT;
  src: url('assets/MONTSERRAT-MEDIUM.OTF') format('opentype');
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500&display=swap');

@font-face {
  font-family: ZHU;
  src: url('assets/ZHUM601N.TTF') format('opentype');
}

body {
  margin: 0;
  font-family: MONTSERRAT;
}
