@use '../abstracts' as *;

h1{
    color: $white1;
    font-size: 2rem;
}

a{
    text-decoration: none;
    &:visited{
        color: inherit;
    }
}

.services h2{
    text-align: center;
    font-size: 25px;
    line-height: 144.518%; /* 138.737px */
    letter-spacing: 5.76px; 
    color: $white1;
}

.services-container-box h3{
    color: $white1;
    font-size: 28px;
    line-height: 144.518%; /* 69.368px */
    letter-spacing: 2.88px;
}