@use '../abstracts' as *;

h1{
    color: $white1;
    font-size: 2rem;
}

a{
    text-decoration: none;
    &:visited{
        color: $white1;
    }
}

.head{
    h2{
        color: $white1;
        font-size: 50px;
        line-height: 144.518%; /* 187.873px */
        letter-spacing: 7.8px;
    }
    p{
        line-height: 144.518%; /* 69.368px */
        letter-spacing: 2.88px;
        color: $white1;
        font-size: 20px;
    }
}


.services h2{
    text-align: center;
    font-size: 25px;
    line-height: 144.518%; /* 138.737px */
    letter-spacing: 5.76px; 
    color: $white1;
}

.services-container-box h3{
    color: $white1;
    font-size: 28px;
    line-height: 144.518%; /* 69.368px */
    letter-spacing: 2.88px;
}


.contact {
    &-body{
        h2, span{
            font-size: 30px;
            color: $white1;
            line-height: 144.518%; /* 101.162px */
            letter-spacing: 4.2px;
            margin-bottom: 1.5rem;
        }
        span{
            color: $green1;
        }
    }
}

