*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto';
    font-weight: 300;
    background-color: #181818;
    box-sizing: border-box;
    color: #fff;/*
    overflow: hidden; */
}


/* LEFT AND RIGHT */
.hero{
    display: flex;
    flex-direction: row;
    
}

/* LEFT */
.hero .left{
    display: flex;
    flex: 2.5;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vh;
}
.hero .left .sign-in{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    padding-bottom: 1rem;
}
.hero .left .sign-in form{ 
    padding-bottom: 3rem;
    width: 80%;
} 
.hero .left .logo{
    margin-bottom: 8vh;
}
.hero .left .logo img{
    width: 300px;
}
.hero .left label{
    font-size: 0.9rem;
    line-height: 2rem;
    font-weight: 500;
}
.hero .left .text-input{
    margin-bottom: 1rem;
    width: 100%; 
    padding: 0.5rem 1rem;

    color: #ccc;   
    border-radius: 2px;
    border: 1px solid #555555;
    background-color: #181818;  
    line-height: 1.3rem;
}
.hero .left button{
    width: 100%;
    padding: 1rem;

    color: white; 
    cursor: pointer;
    background-color: #FB6F22;
    transition: all 0.5s ease;
}
.hero .left button:hover{
    background-color: #a0725a;
}
.hero .left .second-btn{
    padding: 0.7rem 1rem;

    color: #fff;
    text-align: center;
    text-decoration: none;
    border: 1px solid #fff;
}
.hero .left .second-btn:hover{
    color:#FB6F22;
    border-color:#FB6F22;
    transition: all 0.2s ease;
}
.sign-in .second-btn, .or , .links {
    width: 60%;
}
.sign-in .links a{
    display: block;
    text-align: center;

    color: #fff;
    text-decoration: none; 
    margin-bottom: 1rem; 
    font-size: 0.9rem;
}
.sign-in .or{
    display: flex;
    flex-direction: row;
    margin-bottom: 1.2rem;
    align-items: center;
    justify-content: space-between ;
    width: 64%;
}
.sign-in .or hr{
    width: 40%;
    border: none;
    height: 1px;
    background-color: #aaa;
}
/* LEFT > FOOTER*/
.left footer{
    color: #fff;
    text-align: center;
    font-size: 0.8rem;
    max-width: 80%;
    padding-top: 5rem;
}
.left footer a{
    color: #FB6F22;
    text-decoration: underline;
}



/* RIGHT */
.right{
    display: flex;
    flex: 4;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    
    background-image:url('img/backImg.png');
    background-position: center;
}
.right .showcase .showcase-content{
    text-align: center;
}
.right .showcase .showcase-content h1{
    font-size: 3.5rem;
    -webkit-text-stroke: 1px rgb(58, 53, 53);
    margin-bottom: 3rem;
    transition: all 0.5s ease;
}
.right .showcase .showcase-content a{
    padding: 0.5rem 5rem;

    color: white;
    font-size: 2rem;
    text-decoration: none;
    border: 3px solid white;
    transition: all 0.5s ease;
}
.right .showcase a:hover{
    border-color: black;
    color: black;
}
.right .showcase a:hover{
    color: black;
}