@use '../abstracts' as *;

.footer{
    display: flex;
    justify-content: space-around;
    padding-top: 5rem;
    color: $white1;

    h4{
        color: $white1;
        font-size: 25px;
        line-height: 4rem;
    }
    ul{
        list-style-type: none;
        line-height: 2.2rem;
        font-size: 18px;
        padding-left: 0;
        width: max-content;
        li:hover{
            font-size: 19px;
        }
    }
    .column{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &-icons{
        display: flex;
        justify-content: center;
        width: min-content;
        img{
            width: 50px;
        }
        a{
            background-color: $green1;
            margin: 0.3rem;
            padding: 1rem;
            border-radius: 50%;
            transition: all 0.3s ease;

        }
        a:hover{
            border-radius: 40%;
        }
    }
}