@use '../abstracts' as *;

header{
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 2rem 0;
    .hamburger{
        display: block;
        min-width: 3.5rem;
        margin: 5px 10px 10px 10px;
        div{
            height: 0.4rem;
            margin-bottom: 10px;
            width: 100%;
            background-color: $grey1;
            transition: all 0.3s ease;
            transform-origin: left center;
            border-radius: 5rem;
        }
        &:hover {
            .bar1{
                transform: rotate(32deg);
                width: 120%;
            }   
            .bar2{
                width: 0%;
            }
            .bar3{
                transform: rotate(-32deg);
                width: 120%;
            }  
        }
    }
    nav{
        width: 15rem;
        display: flex;
        justify-content: space-between;
        a{
            color: aliceblue;
            font-size: 1.5rem;
        }
    }
}
