@use '../abstracts' as *;

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
    nav{
        display: flex;
        justify-content: space-between;
        a{
            color: $white1;
            font-size: 1.3rem;
            margin: 0 0.6rem;
        }
        a:after{
            content:'';
            display: block;
            width: 0%;
            height: 1px;
            background-color: $white1;
            transition: width 0.3s ease;
        }
        a:hover:after{
            width: 100%;
        }
    }
    .hamburger{
        display: none;
        min-width: 3.5rem;
        margin: 5px 10px 10px 10px;
        div{
            height: 0.4rem;
            margin-bottom: 10px;
            width: 100%;
            background-color: $grey1;
            transition: all 0.3s ease;
            transform-origin: left center;
            border-radius: 5rem;
        }
        &:hover {
            .bar1{
                transform: rotate(32deg);
                width: 120%;
            }   
            .bar2{
                width: 0%;
            }
            .bar3{
                transform: rotate(-30deg);
                width: 120%;
            }  
        }
    }
}


@media only screen and (max-width: 900px){
    nav{
        display: none !important;
    }
    .hamburger{
        display: block !important;
    }
}



