*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sarabun', sans-serif;
}
body{
    width: 80%;
    max-width: 1400px;
    margin: auto;
    background-color: #121212 !important;
}
:root {
    --white1: #FFF;
    --grey1: #525252;
    --grey2: #201E1E;
    --grey3: #BCBBBB;
    --grey4: #CFCFCF;
    --grey5: #636363;
    --green1: #316C40;
    --black1: #161616;
}

/* GENERAL CSS */
a{
    color: var(--white1) !important;
    text-decoration: none !important;
}

a:visited{
    color: var(--white1);
}
/* **********  */

/* HEADER CSS */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
}   
header nav{
    display: flex;
    justify-content: space-between;
}
header nav a{
    color: var(--white1);
    font-size: 1.3rem;
    margin: 0 0.5rem;
}
header a:after{
    content:'';
    display: block;
    width: 0%;  
    height: 1px;
    background-color: var(--white1);
    transition: width 0.3s ease;
}       /* 4 bilzik 1 set */
header a:hover:after{
    width: 100%;
}
header .hamburger{
    display: none;
    width: 3.5rem;
    height: 2rem;
}
header .hamburger div{
    height: 0.4rem;
    margin-bottom: 10px;
    width: 100%;
    background-color: var(--grey1);
    transition: all 0.3s ease;
    transform-origin: left center;
    border-radius: 5rem;
}
/*  **********  */

/* HEADER MEDIA Q. */
@media only screen and (max-width: 900px){
    nav{
        display: flex !important;
        flex-direction: column;
        justify-content: space-around !important;
        align-items: center;
        padding-bottom: 5rem;
        position: fixed;
        inset: 0 0 0 0;
        background-color: rgb(30, 30, 28);
        transform: translateX(100%);
        transition: transform 0.5s ease;
        z-index: 100;
    }
    nav a{
        font-size: 2rem !important;
    }
    
    .hamburger{
        display: block !important;
        z-index:1000;
    }

        header[data-visible="true"] nav{
            transform: translateX(0%);
            overflow: hidden;
            background-color: #316C40;
        }
        header[data-visible="true"] .hamburger{
            position: fixed;
            left: 83%;
        }
        header[data-visible="true"] .hamburger .bar1{
            transform: rotate(40deg);
            width: 100%;
        }   
        header[data-visible="true"]  .hamburger .bar2{
            width: 0%;
        }
        header[data-visible="true"]  .hamburger .bar3{
            transform: rotate(-36deg);
            width: 100%;
        } 
    }

/*  **********  */

/*BANNER STYLE*/
.banner{
    padding: 5rem 5%;
}
.banner .banner-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner-container .banner-container-right{
    text-align: center;
}
.banner-container .banner-container-right p{
    font-size: 35px;
    line-height: 145.518%;
    letter-spacing: 3.6px;
    padding: 4rem 0;
    color: var(--white1);
}
.banner-container .banner-container-left{
    padding: 0 3rem;
    max-width: 350px;
}
.banner-container .banner-container-left img{
    width: 100%;
    min-width: 226px;
}
/*Link style inside the banner*/
.standartButton1{
    width: min-content;
    border: 2px solid var(--grey1);
    color: var(--white1);
    border-radius: 15px;
    padding: 1rem 3rem;
    white-space: nowrap;
    font-size: 1.5rem;
    transition: all 0.3s ease;
    cursor: pointer;
}

.standartButton1:hover{
    border-color: var(--white1);
}
/* ************ */

/*BANNER MEDİA Q. */
@media only screen and (max-width: 900px){
    .banner-container{
        flex-direction: column;
    }
}
/* ************ */


/* SERVICES STYLE */
.services {
    padding: 5rem 0;
  }
  .services-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1rem 0;
  }
  .services-container-box {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    flex: 0 0 35%;
    height: 300px;
    margin: 1.5rem;
    border-radius: 15px;
    border: 1px solid rgba(78, 78, 78, 0.5);
    background: linear-gradient(180deg, rgba(48, 126, 67, 0.07) 0%, rgba(42, 92, 54, 0.8) 68.75%);
    transition: all 0.3s ease;
    padding: 4rem 1rem;
    cursor: pointer;
  }
  .services-container-box img {
    width: 20%;
  }
  .services-container-box:hover {
    border: 1px solid rgba(202, 201, 201, 0.5);
  }
  .services h2 {
    text-align: center;
    font-size: 25px;
    line-height: 144.518%; /* 138.737px */
    letter-spacing: 5.76px;
    color: #FFF;
  }
  .services-container-box h3 {
    color: #FFF;
    font-size: 28px;
    line-height: 144.518%; /* 69.368px */
    letter-spacing: 2.88px;
  }
  @media only screen and (max-width: 1024px) {
    .services-container-box {
      flex: 0 0 65%;
    }
  }

  @media only screen and (max-width: 700px) {
    h3 {
      font-size: 15px;
    }
    .services-container-box img {
      width: 30%;
    }
    body {
      width: 100% !important;
      padding: 0 1rem;
    }
    .blog {
      padding: 0rem 1.5rem !important;
    }
    .blog-box-text {
      text-align: center;
    }
    .blog-box img {
      display: none;
    }
    .blog-box{
        padding: 1rem !important;
    }
    .footer h4 {
      font-size: 20px;
    }
    .footer ul {
      font-size: 15px;
    }
    }
/* ************** */


/* BLOG CSS */

.blog {
    padding: 1rem 5rem;
  }
  .blog-header {
    padding-bottom: 2rem;
  }
  .blog-header h2 {
    text-align: center;
    font-size: 35px;
    line-height: 144.518%; /* 138.737px */
    letter-spacing: 5.76px;
    color: #FFF;
  }
  .blog-header h2 span {
    color: #316C40;
    font-size: 35px;
  }
  .blog-header p {
    color: #FFF;
    text-align: center;
    font-size: 18px;
    letter-spacing: 1.08px;
  }
  .blog-container .blog-box {
    display: flex;
    justify-content: space-between;
    background-color: #201E1E;
    padding: 2rem 3rem;
    border-radius: 15px;
    height: 250px;
  }
  .blog-container .blog-box-text {
    overflow: hidden;
    width: 100%;
    padding-right: 1rem;
  }
  .blog-container .blog-box-text h3 {
    color: #FFF;
    font-size: 40px;
    padding-bottom: 1rem;
  }
  .blog-container .blog-box-text p {
    color: #FFF;
    font-size: 20px;
  }
  .blog-container .blog-box img {
    align-self: center;
    width: 20%;
    min-width: 150px;
    border-radius: 50%;
    padding: 1rem;
  }