*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sarabun', sans-serif;
}
body{
    width: 80%;
    max-width: 1400px;
    margin: auto;
    background-color: #121212 !important;
}
:root {
    --white1: #FFF;
    --grey1: #525252;
    --grey2: #201E1E;
    --grey3: #BCBBBB;
    --grey4: #CFCFCF;
    --grey5: #636363;
    --green1: #316C40;
    --black1: #161616;
}




header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
}   

nav{
    display: flex;
    justify-content: space-between;
}
nav a{
    color: var(--white1);
    font-size: 1.3rem;
    margin: 0 0.5rem;
}
a:after{
    content:'';
    display: block;
    width: 0%;  
    height: 1px;
    background-color: var(--white1);
    transition: width 0.3s ease;
}       /* 4 bilzik 1 set */
a:hover:after{
    width: 100%;
}
.hamburger{
    display: none;
    width: 3.5rem;
    height: 2rem;
}
.hamburger div{
    height: 0.4rem;
    margin-bottom: 10px;
    width: 100%;
    background-color: var(--grey1);
    transition: all 0.3s ease;
    transform-origin: left center;
    border-radius: 5rem;
}