.class{
    text-decoration: dotted;
}
.div{
    text-emphasis: none;
    &-get{
        text-decoration: dotted;
        display: flex;
        display: block;
    }
}
.A{
    text-decoration: dotted;
}
.getAll{
    display: flex;
}
.getAll{
    display: flex;
}
.getAll{
    display: flex;
}
.getAll{
    display: flex;
}
